<% layout('../views/layouts/boilerplates') -%>
<h3>Top Stories</h3>
<div class="gallery">
    <!-- <div class="gallery-content">
        <img src="https://www.dakshana.org/wp-content/uploads/2017/07/c.jpg" alt="img-1">
        <img src="https://www.dakshana.org/wp-content/uploads/2017/07/a.jpg" alt="img-2">
        <img src="https://www.dakshana.org/wp-content/uploads/2017/07/b.jpg" alt="img-3">
        </div>
    </div> -->
<div class="qna">
    <h3>WHAT WE DO ?</h3>
    <p>Dakshana helps bright and impoverished students predominantly from rural India to prepare for IIT and medical entrance exams.</p>
</div>