body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

.dak-logo {
  margin: 0 1rem;
  height: 4rem;
  width: 6rem;
}
/* search */

#myInput {
  width: 100%;
  background-position: 10px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 18px;
  cursor: pointer;
}

#myTable th,
#myTable td {
  text-align: center;
  padding: 12px;
}
#myTable th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header,
#myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

.lecture-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.video-box {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  height: 400px;
}
iframe {
  background-color: #c1c5ce;
  border-radius: 5px solid white;
}

.video-list {
  height: 80vh;
  overflow-x: hidden;
}
@media screen and (max-width: 767px) {
  .lecture-body {
    display: flex;
    flex-direction: column-reverse;
  }

  .video-box {
    height: 300px;
  }

  .video-list {
    overflow-x: auto;
  }
  .table {
    font-size: small !important;
  }
}

/* filter content */
.filter-content {
  display: flex;
  align-items: flex-start;
}
.filter-content div {
  margin-right: 1rem;
}
